body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}

header {
    background-color: #6c5ce7;
    color: #fff;0
    padding: 1em;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.livro-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.img-responsive {
    width: 100%<;
    height: auto;
    display: block;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 8px;
    background-color: #6c5ce7;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1100;
}

.menu-icon span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}

.nav-escondida {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #6c5ce7;
    padding: 1em;
    z-index: 1050;
}

.nav-escondida ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-escondida li {
    margin-bottom: 10px;
}

.nav-escondida a {
    color: #fff;
    text-decoration: none;
}

.nav-escondida.show {
    display: block;
}

main {
    padding: 2em;
}

.carrossel {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.livro {
    flex: 0 0 auto;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.carousel-control {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #6c5ce7;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
