body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}

header {
    background-color: #6c5ce7;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
}


.menu-icon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 8px;
    background-color: #6c5ce7; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.menu-icon:hover {
    background-color: #4f69c6; 
}

.menu-icon span {
    display: block;
    width: 22px;
    height: 2px; 
    background-color: #fff; 
    margin: 4px 0; 
}

.nav-escondida {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6c5ce7;
    padding: 1em;
    display: none;
}

.nav-escondida ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-escondida li {
    margin-bottom: 10px;
}

.nav-escondida a {
    color: #6c5ce7;
    text-decoration: none;
}


.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

h1 {
    color: #4f69c6;
}

h2 {
    color: #4f69c6;
}

.carrossel {
    display: flex; 
    overflow-x: auto; 
    scroll-behavior: smooth; 
    padding: 20px; 
    gap: 20px; 
    justify-content: center;
}

.carrossel .livro {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.carrossel .livro:hover {
    transform: scale(1.1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

#notificacoes {
    list-style: none;
    padding: 0;
    margin: 0;
}

